@import url('https://fonts.cdnfonts.com/css/badelosh-ralintesla');
@import url('https://fonts.cdnfonts.com/css/noto-serif-tangut-2');

:root {
    --color-1: #1D2026;
    --color-2: #072359;
    --color-3: #4E8AD9;
    --color-4: #F2F2F1;
    --text-body: 'Noto Serif Tangut', sans-serif;
    --text-title: 'Badelosh Ralintesla', sans-serif;
}

/* Body */

body {
    background-color: var(--color-4);
    background-size: cover;
    overflow-x: hidden;
    margin: 0;
    font-family: var(--text-body);
    font-size: 20px;
}

.btn {
    border-radius: 999px;
    padding: 9px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}



/* Header */
.bk-logo {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25%;
    height: auto;
    width: 80px;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

header {
    display: flex;
    flex-direction: row;
    gap: 5vh;
    justify-content: center;
    align-content: center;
}

.barra {
    background-color: var(--color-1);
}

.logo {
    justify-content: center;
    text-align: center;
    width: 70px;
}

.navbar {
    width: 80vh;
}


.form-control {
    font-size: 20;
    border-radius: 999px;
}


/* main */

main {
    margin: 15vh;
}

h1 {
    font-family: var(--text-title);
    font-size: 100px;
    text-shadow: 5px 5px 50px var(--color-3);
    color: var(--color-2);
    margin-bottom: 10px;
}

h3 {
    font-family: var(--text-title);
    text-align: center;
    color: var(--color-2);
}

.precio {
    background-color: rgba(255, 255, 255, 0.466);
    font-size: 22px;
    border-radius: 20px;
}

.contenedor,
.contenedor1 {
    border: none;
    border-radius: 40px;
    background: var(--color-1);
    text-align: center;
    padding: 0;

}

.contenedor1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.searchBar {
    width: 60%;
    max-width: 800px;
}



.margen-img {
    margin: auto;
    height: 700px;
}



.margen1-img {
    margin: auto;
    margin-top: -5%;
    height: 850px;
}


.margen2-img {
    margin: auto;
    margin-top: 5%;
    height: 580px;
}


.margen3-img {
    margin: auto;
    margin-top: 5%;
    height: 600px;
}



.margen4-img {
    margin: auto;
    margin-top: 5%;
    height: 600px;
}



.agility-img {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 500px;
    height: 400px;
    padding: 0 40px 0 40px;
    background-color: var(--color-1);
    border-radius: 40px !important;
}

.moto-carrusel {
    width: 50%;
}

.moto-img {
    margin: auto;
    height: 400px;
}

.moto1-img {
    margin: auto;
    height: 500px;
}

.moto2-img {
    margin: auto;
}

.moto3-img {
    margin: auto;
    height: 350px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .bk-logo {
        margin: 15px;
    }

    .contenedor {
        border: none;
        border-radius: 40px;
        text-align: center;
        padding: 0px;
    }

    .contenedor1 {
        border: none;
        border-radius: 40px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .agility-img {
        display: flex;
        justify-content: center;
        margin: 0;
        height: 450px;
        width: 480px;
        background-color: var(--color-1);
        border-radius: 40px !important;
    }

    .margen4-img {
        margin: auto;
        margin-top: 5%;
        height: 500px;
    }

    .moto-img {
        margin: auto;
        height: 280px;
    }

    .moto1-img {
        margin: auto;
        height: 450px;
    }

    .moto2-img {
        margin: auto;
        height: 450px;
    }

    .moto3-img {
        margin: auto;
        height: 240px;
    }

    .moto-responsive {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 320px;
    }

}

@media (max-width: 768px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1vh;
    }

    h1 {
        font-family: var(--text-title);
        font-size: 50px;
        text-shadow: 2px 2px 50px var(--color-3);
    }

    .bk-logo {
        margin-top: 15px;
    }

    .contenedor {
        text-align: center;
        padding-bottom: 10px;
    }

    .contenedor1 {
        border: none;
        border-radius: 40px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .btn {
        border-radius: 999px;
        padding: 9px 20px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .navbar {
        width: 45vh;
    }

    .searchBar {
        width: 45%;
        max-width: 500px;
    }

    .margen-img {
        margin: auto;
        height: 300px;
    }

    .margen1-img {
        margin: auto;
        margin-top: -5%;
        height: 310px;
    }

    .margen2-img {
        margin: auto;
        margin-top: 15%;
        height: 200px;
    }

    .margen3-img {
        margin: auto;
        height: 230px;
    }

    .margen4-img {
        margin: auto;
        margin-top: 15%;
        height: 180px;
    }

    .margen5-img {
        margin: auto;
        margin-top: 15%;
        height: 270px;
    }

    .moto-carrusel {
        width: 100%;
    }

    .agility-img {
        display: flex;
        justify-content: center;
        width: 380px;
        padding: 0 40px 0 40px;
        height: 250px;
        border-radius: 40px !important;
        background-color: var(--color-1);

    }

    .contenedorA {
        border: none;
        border-radius: 40px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 10px;
        background-color: var(--color-1);
    }

    .moto-img {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 200px;
    }

    .moto1-img {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 270px;
    }

    .moto2-img {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 310px;
    }

    .moto3-img {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 170px;
    }

    .moto-responsive {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 220px;
    }

}

/* Footer */

.footer-links a{
  color: var(--color-enfasis2);
  text-decoration: none;
  margin: 0 5px;
  color: var(--color-enfasis2)
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-complet {
  background-color: var(--color-enfasis1);
}

.footer-copy {
  color: var(--color-enfasis2);
  font-size: 12px;
}

.footer-def {
  text-align: center;
  padding: 20px 10px;
  font-family: var(--texto-secundario);
  
  
}